@model ServiceManagement.Models.Sparepart

@{
    ViewBag.Title = "Delete";
}

<h3>Удалить Запчасть</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartDescription)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.PartDescription, 2, 3, new { @class = "form-control", @disabled = "disabled" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartPrice)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <button type="submit" class="btn btn-primary"><i class="fa fa-trash"></i></button>
                @Html.ActionLink(" ", "Index", "Sparepart", null, new { @class = "btn btn-primary fa fa-sign-out" })
            </div>
        </div>
    }
</div>
