@model PagedList.IPagedList<ServiceManagement.Models.Client>
@using PagedList.Mvc;


<h3>
    Клиент Юридическое лицо
</h3>

<p>
    @Html.ActionLink(" ", "Create", "Client", new { clientType = Common.JURIDIC }, new { @class = "btn btn-primary fa fa-plus" })
</p>

@{string name = @ViewBag.Name;}
@{string findby = @ViewBag.FindBy;}

@{bool firstrecord = true;}

@using (Html.BeginForm("Index_yur", "Client", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="form-inline">
        @findby :&nbsp; @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control form-control-sm" })
        <input type="submit" value="Поиск" class="btn btn-primary btn-sm" />
    </div>

    <br />

    <div>
        <table class="table table-striped table-sm">
            @foreach (var item in Model)
            {
                if (firstrecord)
                {
                    firstrecord = false;
                    <caption>Список клиентов</caption>
                    <thead>
                        <tr class="table-active">
                            <th>
                                @Html.DisplayNameFor(model => item.ClientType.TypeDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.CompanyType.TypeDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.CompanyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.Telephone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.ContactPerson)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.ExtraInfo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                }
                <tdata>
                    @{string _color = "table-default"; }

                    @if (item.IsDeleted)
                    {
                        _color = "table-danger";
                    }
                    else
                    {
                        _color = "table-default";
                    }
                    <tr class="@_color">
                        <td>
                            @Html.DisplayFor(modelItem => item.ClientType.TypeDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyType.TypeDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telephone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactPerson)
                        </td>
                        <td>
                            @Html.TextAreaFor(modelItem => item.ExtraInfo, 3, 3, new { @class = "form-control", @disabled = "disabled" })
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = item.ID })" title="Изменить"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Details", new { id = item.ID })" title="Детали"><i class="fa fa-eye"></i></a>
                            @if (!item.IsDeleted)
                            {
                                <a class="btn btn-primary btn-sm" href="@Url.Action("Delete", new { id = item.ID })" title="Удалить"><i class="fa fa-trash"></i></a>
                            }
                        </td>

                    </tr>
                </tdata>

            }
        </table>
        <br />
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index_yur", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>

}
