@model ServiceManagement.Models.RemontCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RemontCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tecnician.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tecnician.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientCall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientCall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolutionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolutionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoNeedSpareParts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoNeedSpareParts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RemontCardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
