@model IEnumerable<ServiceManagement.Models.RemontCard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tecnician.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientCall)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SolutionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalNote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoNeedSpareParts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warranty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfWork)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnician.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientCall)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SolutionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoNeedSpareParts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warranty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfWork)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RemontCardID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RemontCardID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RemontCardID })
        </td>
    </tr>
}

</table>
