@model ServiceManagement.Models.RemontCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RemontCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tecnicianid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tecnicianid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemontCardLongId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemontCardLongId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtClientCall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtClientCall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtEndWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtEndWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtMasterTook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtMasterTook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtLastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtLastUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLastUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientProblemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientProblemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeProblemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeProblemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorAdditionalNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorAdditionalNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoNeedSpareParts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoNeedSpareParts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RemontCardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
