@model ServiceManagement.Models.Tecnician

@{
    ViewBag.Title = "Delete";
}

<h3>Удалить мастера</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronimic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronimic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <button type="submit" class="btn btn-primary"><i class="fa fa-trash fa-2x"></i></button>
                @Html.ActionLink(" ", "Index", "Tecnician", null, new { @class = "btn btn-primary fa fa-sign-out fa-2x" })
            </div>
        </div>
    }
</div>
