@model ServiceManagement.Models.Tecnician

@{
    ViewBag.Title = "Details";
}

<h3>Посмотреть Мастер</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronimic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronimic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink(" ", "Edit", "Tecnician", new { id = Model.ID }, new { @class = "btn btn-primary fa fa-edit" })

    @Html.ActionLink(" ", "Index", "Tecnician", null, new { @class = "btn btn-primary fa fa-sign-out" })
</p>
