@model ServiceManagement.Models.Product

@{
    ViewBag.Title = "Delete Product";
}

<h3>удалить изделий</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                <button type="submit" class="btn btn-primary"><i class="fa fa-trash"></i></button>
                @Html.ActionLink(" ", "Index", "Products", new { idAddress = Model.ClientAddressID }, new { @class = "btn btn-primary fa fa-sign-out" })
            </div>
        </div>
    }
</div>
